# Python SQL

In [1]:
""" Python SQL

Write python program to connect to MySQL challenge1 database and then
- Display sales table data on screen
- Insert row in sales table but collecting data from user -->
"""

' Python SQL\n\nWrite python program to connect to MySQL challenge1 database and then\n- Display sales table data on screen\n- Insert row in sales table but collecting data from user -->\n'

In [2]:
import psycopg2

In [3]:
conn = psycopg2.connect(database = "challenge1", 
    user = "postgres", 
    host= 'localhost',
    password = "password",
    port = 5432)

## Question 1

In [4]:
def display_sales_table(conn):
    cursor = conn.cursor() 
    sql = '''SELECT * FROM sales;'''
    cursor.execute(sql) 
    results = cursor.fetchall() 
    print(results) 
    conn.commit()

In [5]:
display_sales_table(conn)

[('A', datetime.date(2021, 1, 1), 1), ('A', datetime.date(2021, 1, 1), 2), ('A', datetime.date(2021, 1, 7), 2), ('A', datetime.date(2021, 1, 10), 3), ('A', datetime.date(2021, 1, 11), 3), ('A', datetime.date(2021, 1, 11), 3), ('B', datetime.date(2021, 1, 1), 2), ('B', datetime.date(2021, 1, 2), 2), ('B', datetime.date(2021, 1, 4), 1), ('B', datetime.date(2021, 1, 11), 1), ('B', datetime.date(2021, 1, 16), 3), ('B', datetime.date(2021, 2, 1), 3), ('C', datetime.date(2021, 1, 1), 3), ('C', datetime.date(2021, 1, 1), 3), ('C', datetime.date(2021, 1, 7), 3)]

## Question 2

In [6]:
def insert_sales_table(conn, customer_id, order_date, product_id):
    cursor = conn.cursor() 
    sql = '''INSERT INTO sales VALUES('{}', '{}', {});'''.format(customer_id, order_date, product_id)
    print(sql)
    cursor.execute(sql) 
    conn.commit()

In [7]:
customer_id = 'A'
order_date = '2022-01-01'
product_id = 2
insert_sales_table(conn, customer_id, order_date, product_id)

INSERT INTO sales VALUES('A', '2022-01-01', 2);

In [8]:
display_sales_table(conn)

[('A', datetime.date(2021, 1, 1), 1), ('A', datetime.date(2021, 1, 1), 2), ('A', datetime.date(2021, 1, 7), 2), ('A', datetime.date(2021, 1, 10), 3), ('A', datetime.date(2021, 1, 11), 3), ('A', datetime.date(2021, 1, 11), 3), ('B', datetime.date(2021, 1, 1), 2), ('B', datetime.date(2021, 1, 2), 2), ('B', datetime.date(2021, 1, 4), 1), ('B', datetime.date(2021, 1, 11), 1), ('B', datetime.date(2021, 1, 16), 3), ('B', datetime.date(2021, 2, 1), 3), ('C', datetime.date(2021, 1, 1), 3), ('C', datetime.date(2021, 1, 1), 3), ('C', datetime.date(2021, 1, 7), 3), ('A', datetime.date(2022, 1, 1), 2)]

In [9]:
conn.close()